.nav-link {
    text-decoration: none;
    color: rgb(255, 255, 255); 
    font-size: 1.2rem;
    padding: 1.2rem;
    font-weight: bold; 
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
  
.nav-link:hover {
    color: rgb(0, 0, 0); 
    background-color: rgb(255, 24, 24);
}
.active {
    color: rgb(0, 0, 0);
    background-color: rgb(205, 2, 245);
    font-weight: bold; 
}