.box{
    background-color: rgb(112, 112, 239);
    height:240px;
    border:10px solid black;
    padding:10px;
}

.box-yellow{
    background-color: lightgreen;
    padding:20px;
    border:5px solid gold;
    margin:11px;
}

.box-white{
    background-color: lightcoral;
    padding:20px;
    border:5px solid gold;
    margin:10px;
}