/*
Absolute positioning means position relative to nearest positioned ancestor or top left corner of 
webpage
*/

div{
    width:60%;
}

.first{
    background-color: greenyellow;
    height:100px;
    font-size: 2rem;
    position: relative;
    left:40px;
}

.first .first-child{
    background-color: rgb(255, 94, 0);
    position:absolute;
    bottom:50px;
    left:450px;
    height:100px;
}

.second{
    background-color: limegreen;
    height:150px;
    font-size: 2rem;
}

.third{
    background-color: lightgreen;
    height:200px;
    font-size: 6rem;
    padding:30px;
    position:relative;
    left:100px;
    bottom:40px;
}