*{
    margin:0;
}
.ulSubjects{
    list-style-type: none;
    display: flex;
    gap:200px;
    margin-top: 20px;
    margin-left: 20px;
    font-size: 2.5rem;
    font-weight: bold;
}

.ulSubjects li{
    margin-right: 20px;
    cursor: pointer;
}