.container{
    border:5px solid black;
    height:300px;
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
}

.container-item{
    border:5px solid rgb(0, 0, 0);
}

.select{
    background-color: lightgreen;
}