body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

/*
body {
    display: grid;
    place-items: center;
    min-height: 100vh;
    margin: 0;
}
this also works
*/

.container{
    width:300px;
    border:3px solid black;
    height:300px;
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
}

.container-item{
    border:3px solid rgb(0, 0, 0);
    font-size: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.select{
    background-color: lightgreen;
}