.cardDetailsdiv{
    border:1px solid black;
    padding:10px;
    line-height:1.8px;
}

.subDiv1{
    margin-top: 15px;
    display: flex;
    justify-content: space-around;
}

.subDiv2{
    margin-top: 15px;
}

#input1carddetails{
    margin-right: 5px;
}
#input2carddetails{
    margin-right: 5px;
    width:65px
}
#input3carddetails{
    width: 30px;
}