body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container{
    width:100%;
    border:3px solid black;
    height:100%;
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
}

.container-item{
    border:3px solid rgb(0, 0, 0);
    display: flex;
    justify-content: center;
    align-items: center;
}

.select{
    background-color: lightgreen;
}

.select1{
    background-color: lightskyblue;
}

.select2{
    background-color: lightpink;
}