body{
    overflow-x: hidden;
}

.divFather1Middlebar{
    margin-top: 2rem;
}

.div1Middlebar{
    background-image: url('./../../images/student.png');
    width: 100vw;
    height:100vh;
    z-index: 1;
    opacity: 0.2;
    background-size: cover;
}
.h1div2Middlebar{
    position: relative;
    top:-25rem;
    left:15rem;
}
.pdiv2Middlebar{
    position: relative;
    top:-20rem;
    left:20rem;
    color:yellow;
}
/* ---------------------------------------------------------------------------------------------------- */
.divFather2Middlebar{
    margin-top: -3.4rem;
}

.div3Middlebar{
    background-image: url('./../../images/student1.png');
    width: 100vw;
    height:100vh;
    z-index: 1;
    opacity: 0.2;
    background-size: cover;
}
.h1div4Middlebar{
    position: relative;
    top: -25rem;
    left:15rem;
}
.pdiv4Middlebar{
    position: relative;
    top: -20rem;
    left:20rem;
    color:yellow;
}
/* ---------------------------------------------------------------------------------------------------- */
.divFather3Middlebar{
    margin-top: -3.4rem;
}

.div5Middlebar{
    background-image: url('./../../images/student2.png');
    width: 100vw;
    height:100vh;
    z-index: 1;
    opacity: 0.2;
    background-size: cover;
}
.h1div6Middlebar{
    position: relative;
    top: -25rem;
    left:15rem;
}
.pdiv6Middlebar{
    position: relative;
    top: -20rem;
    left:20rem;
    color:yellow;
}
/* ---------------------------------------------------------------------------------------------------- */
.divFather4Middlebar{
    margin-top: -3.4rem;
}

.div7Middlebar{
    background-image: url('./../../images/student3.png');
    width: 100vw;
    height:100vh;
    z-index: 1;
    opacity: 0.2;
    background-size: cover;
}
.h1div8Middlebar{
    position: relative;
    top: -25rem;
    left:15rem;
}
.pdiv8Middlebar{
    position: relative;
    top: -20rem;
    left:20rem;
    color:yellow;
    color:rgba(255, 0, 0, 0.975);
}