.sidebar {
    width: 200px;
    background-color: #ffb3b3;
    padding: 10px;
}
  
  .menu {
    cursor: pointer;
    font-weight: bold;
    margin-bottom: 5px;
    list-style-type: none;
    color:rgb(0, 0, 255);
    font-size: large;
  }
  
  .submenu {
    display: none;
    list-style-type: none;
    margin-top: 0;
    padding-left: 10px;
  }
  
  .submenu li {
    margin-left: 0px;
    margin-bottom: 5px;
    color:blueviolet;
  }  