<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head.ejs') %>
<body>
    <%- include('./partials/nav.ejs') %>
    <div class = "about content">
        <h2>About Us</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa distinctio maxime architecto placeat similique quos. Praesentium dicta magni, doloribus, quaerat ipsum velit laboriosam quae iure eum repudiandae dolores veritatis laudantium?</p>
        <p>lorem Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nihil culpa a dolores libero veniam dicta, facilis ex, perspiciatis optio at officiis eos voluptatem fugiat minima cum cupiditate, aperiam eum qui?</p>
    </div>
    <%- include('./partials/footer.ejs') %>
</body>
</html>