body{
    margin:20px;
}

.container{
    width:1175px;
    height:550px;
    background-color: white;
    border:2px solid black;
}

.ball{
    width:55px;
    height:50px;
    position: relative;
    border-radius: 50%;
    background-color: lightskyblue;
}