<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blog</title>
    <style>
        .div2{
            height:100px;
            border:2px solid black;
        }
        a{
            font-style: none;
        }
    </style>
</head>
<body>
    <div>
        <div>
            <form action="/" method="POST">
                <input type="text" name="input1">
                <textarea name="input2" rows="30" cols="100"></textarea><br>
                <button type="submit">Submit</button>
                <h3>Comments</h3>
                <input type="text" name="input3">
            </form>
        </div>
        <div class="div2">
            <% docs.forEach(doc => { %>
                <a href="<%= doc.url %>"><%= doc.heading %></a>
            <% }) %>      
        </div>
    </div>
</body>
</html>